.about_section {
  background-color: $primarycolor;
  width: 100vw;
  height: 100vh;

  .about_main {
    display: flex;
    width: 100vw;
    height: 100vh;
    .about_main_text {
      width: 60vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 500px;

      p {
        margin-left: 50px;
        font-size: 50px;

        span {
          font-size: 85px;
          span {
            font-weight: bold;
          }
        }
      }
      a {
        button {
          width: 250px;
          height: 80px;
          border-radius: 50px;
          font-size: 20px;
          font-weight: bold;
          background-color: $secondarycolor;
          color: $white;
          outline: none;
          z-index: 100;
        }
      }
    }
    .about_main_img {
      width: 40vw;
      height: 100vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .main_img {
        img {
          border-radius: 50%;
          height: 350px;
          width: 350px;
          max-height: 500px;
          min-height: 100px;
        }
      }
      .sm_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
      }
    }
  }
}
