.footer {
  width: 100vw;
  height: 100px;

  background-color: $secondarycolor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    color: $white;
    font-size: 20px;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
