@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@include mediaSm {
  body {
    min-height: 530px;
  }

  .about_section {
    z-index: 100;
    .about_main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      // padding-top: 100px;

      .about_main_img {
        width: 100vw;
        .main_img {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      .about_main_text {
        width: 100vw;
        margin-bottom: 0px;
        p {
          font-size: 25px;
          span {
            font-size: 35px;
          }
        }
      }
    }
  }
  .work_section {
    z-index: -1;
    margin-top: 50px;
    padding: 0;
    height: 2350px;
    .prevBtn {
      display: none;
    }
    .nextBtn {
      display: none;
    }
    .containers_container {
      flex-direction: column;
      align-items: center;

      .work_container {
        .tilted_container {
          img {
            filter: none;
          }
        }
      }
    }
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    width: 100vw;
    .navbar {
      position: relative;

      align-items: center;

      .logo_container {
        margin-left: 20px;
      }
      width: 100vw;
      .nav_items_menu {
        background-color: black;
        top: 0;
        right: 0;
        z-index: -10;
        // display: none;
        transform: translateX(250px);
        transition: transform 250ms;
        position: fixed;
        width: 200px;
        height: 100vmax;
        ul {
          height: 100vh;
          flex-direction: column;
          justify-content: space-evenly;

          align-items: center;
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
  .skills_section {
    .skills_main {
      .skills_container {
        img {
          width: 200px;
          height: 100px;
        }
        .sq {
          width: 100px;
        }
      }
    }
  }
  .contact_section {
    input {
      width: 250px;
    }
    textarea {
      width: 250px;
    }
    label {
      transform: translateX(-80px);
    }
  }

  .burger {
    display: block;
  }
  .footer {
    flex-direction: column;
    p {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
  }
}
