@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@include mediaSm {
  .about_section {
    // background-color: red;
    //width: 200%;
    .about_main {
      //  background-color: yellow;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding-top: 100px;

      .about_main_img {
        width: 100vw;
        .main_img {
          // background-color: green;
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      .about_main_text {
        width: 100vw;
        // background-color: blue;
        // margin-left: -20px;
        margin-bottom: 0px;
        p {
          font-size: 25px;
          span {
            font-size: 35px;
          }
        }
      }
    }
  }
  .work_section {
    // background-color: blue;
    margin-top: 50px;
    // margin-left: -10px;
    padding: 0;
    //background-color: red;
    height: 2350px;
    //transform: skewY(0deg);
    .prevBtn {
      display: none;
    }
    .nextBtn {
      display: none;
    }
    .containers_container {
      flex-direction: column;
      align-items: center;
    }
  }
  body {
    // background-color: blue;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    width: 100vw;
    .navbar {
      position: relative;

      align-items: center;
      // background-color: purple;

      .logo_container {
        margin-left: 20px;
      }
      width: 100vw;
      .nav_items_menu {
        //transform: translateY(-50%);

        background-color: black;
        top: 0;
        right: 0;
        z-index: -10;
        // display: none;
        transform: translateX(250px);
        transition: transform 250ms;
        position: fixed;
        width: 200px;
        height: 100vmax;
        ul {
          height: 100vh;
          flex-direction: column;
          justify-content: space-evenly;
          //background-color: green;

          align-items: center;
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
  .skills_section {
    //  background-color: green;
    .skills_main {
      .skills_container {
        img {
          width: 200px;
          height: 100px;
        }
        .sq {
          width: 100px;
        }
      }
    }
  }
  .contact_section {
    input {
      width: 250px;
    }
    textarea {
      width: 250px;
    }
    label {
      transform: translateX(-80px);
    }
  }

  .burger {
    display: block;
  }
}
