header:hover {
  cursor: default;
}

header .navbar {
  z-index: 100;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 80px;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

header .navbar .logo_container {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo_container svg {
  width: 64px;
  height: 64px;
}

header .navbar .nav_items_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav_items_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  list-style: none;
}

header .navbar .nav_items_menu ul li {
  margin-right: 100px;
}

header .navbar .nav_items_menu ul li a {
  text-decoration: none;
  color: #000000;
}

.about_section {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.about_section .about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.about_section .about_main .about_main_text {
  width: 60vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 500px;
}

.about_section .about_main .about_main_text p {
  margin-left: 50px;
  font-size: 50px;
}

.about_section .about_main .about_main_text p span {
  font-size: 85px;
}

.about_section .about_main .about_main_text p span span {
  font-weight: bold;
}

.about_section .about_main .about_main_text a button {
  width: 250px;
  height: 80px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #121212;
  color: #ffffff;
  outline: none;
  z-index: 100;
}

.about_section .about_main .about_main_img {
  width: 40vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .about_main .about_main_img .main_img img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  max-height: 500px;
  min-height: 100px;
}

.about_section .about_main .about_main_img .sm_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .about_main .about_main_img .sm_icons img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.work_section {
  background-color: #ffffff;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work_section .prevBtn {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  outline: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0;
  font-size: 40px;
}

.work_section .prevBtn:hover {
  cursor: pointer;
}

.work_section .nextBtn {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  outline: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0;
  font-size: 40px;
}

.work_section .nextBtn:focus {
  border: none;
}

.work_section .nextBtn:hover {
  cursor: pointer;
}

.work_section .containers_container {
  position: relative;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100%;
  white-space: pre-line;
}

.work_section .containers_container .work_container {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 300px;
  height: 300px;
  margin: 40px;
}

.work_section .containers_container .work_container .tilted_container {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  width: 110%;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.work_section .containers_container .work_container .tilted_container:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.work_section .containers_container .work_container .tilted_container:hover img {
  -webkit-transition: 250ms;
  transition: 250ms;
  height: 50%;
  position: absulute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: none;
          filter: none;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons .project_btn {
  border-radius: 50%;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons .project_btn img {
  margin-top: -40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.work_section .containers_container .work_container .tilted_container:hover p {
  margin-top: -25px;
  width: 290px;
  display: block;
  font-size: 15px;
  line-height: 1.5;
}

.work_section .containers_container .work_container .tilted_container p {
  display: none;
  text-align: center;
}

.work_section .containers_container .work_container .tilted_container .buttons {
  display: none;
}

.work_section .containers_container .work_container .tilted_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.skills_section {
  min-height: 100vh;
  background-color: #ffffff;
  width: 100vw;
  padding-top: 150px;
}

.skills_section .skills_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.skills_section .skills_main span {
  text-align: center;
  font-size: 25px;
  width: 100%;
  background-color: transparent;
}

.skills_section .skills_main .skills_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.skills_section .skills_main .skills_container img {
  margin: 10px;
  height: 200px;
  width: 450px;
}

.skills_section .skills_main .skills_container .sq {
  width: 200px;
}

.contact_section {
  background-color: #ffffff;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section input {
  margin: 20px;
  border-radius: 50px;
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  text-indent: 20px;
  -webkit-box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.contact_section input:focus {
  border: 1px solid #000000;
}

.contact_section textarea {
  margin: 10px;
  width: 500px;
  height: 300px;
  border: none;
  border-radius: 15px;
  resize: none;
  text-indent: 10px;
  outline: none;
  font-size: 15px;
  -webkit-box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.contact_section textarea:focus {
  border: 1px solid #000000;
}

.contact_section button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: #121212;
  color: #ffffff;
  outline: none;
}

.contact_section label {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: #ffffff;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

.active_nav {
  font-weight: bold;
}

.burger {
  display: none;
  margin-right: 20px;
  z-index: 100;
  width: 40px;
  height: 40px;
}

.error {
  border: 1px solid red !important;
}

@media screen and (max-width: 500px) {
  .about_section .about_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
  }
  .about_section .about_main .about_main_img {
    width: 100vw;
  }
  .about_section .about_main .about_main_img .main_img img {
    width: 150px;
    height: 150px;
  }
  .about_section .about_main .about_main_text {
    width: 100vw;
    margin-bottom: 0px;
  }
  .about_section .about_main .about_main_text p {
    font-size: 25px;
  }
  .about_section .about_main .about_main_text p span {
    font-size: 35px;
  }
  .work_section {
    margin-top: 50px;
    padding: 0;
    height: 2350px;
  }
  .work_section .prevBtn {
    display: none;
  }
  .work_section .nextBtn {
    display: none;
  }
  .work_section .containers_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    width: 100vw;
  }
  header .navbar {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  header .navbar .logo_container {
    margin-left: 20px;
  }
  header .navbar .nav_items_menu {
    background-color: black;
    top: 0;
    right: 0;
    z-index: -10;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    position: fixed;
    width: 200px;
    height: 100vmax;
  }
  header .navbar .nav_items_menu ul {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .nav_items_menu ul li a {
    color: white;
  }
  .skills_section .skills_main .skills_container img {
    width: 200px;
    height: 100px;
  }
  .skills_section .skills_main .skills_container .sq {
    width: 100px;
  }
  .contact_section input {
    width: 250px;
  }
  .contact_section textarea {
    width: 250px;
  }
  .contact_section label {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  .burger {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */