@import "./variables";
@import "./header";
@import "./about";
@import "./work";
@import "./skills";
@import "./contact";
@import "./footer";
body {
  margin: 0;
  padding: 0;
  background-color: $primarycolor;
  color: $black;
}

.active_nav {
  font-weight: bold;
}

.burger {
  display: none;
  margin-right: 20px;
  z-index: 100;
  width: 40px;
  height: 40px;
}

.error {
  border: 1px solid red !important;
}

@import "mobile";
