body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}
.wrapper {
  max-width: 100vw;
}
header {
  //  margin-top: 30px;
  .navbar {
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: green;
    .logo_container {
      margin-left: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      //  background-color: red;
      svg {
        width: 64px;
        height: 64px;
      }
    }
    .nav_items_menu {
      //  background-color: blue;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        li {
          margin-right: 100px;
          span {
            text-decoration: none;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.about_section {
  background-color: white;
  width: 100vw;
  height: 100vh;

  .about_main {
    transform: translateY(-60px);
    display: flex;
    width: 100vw;
    height: 100vh;
    //background-color: red;
    .about_main_text {
      //  background-color: green;
      transform: translateY(-20px);
      width: 60vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 500px;

      p {
        margin-left: 50px;
        //  background-color: blue;
        font-size: 50px;

        span {
          font-size: 85px;
          span {
            font-weight: bold;
          }
        }
      }
      a {
        button {
          width: 250px;
          height: 80px;
          border-radius: 50px;
          font-size: 20px;
          font-weight: bold;
          background-color: black;
          color: white;
        }
      }
    }
    .about_main_img {
      transform: translateX(-50px);
      width: 40vw;
      height: 100vh;

      // background-color: yellow;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .main_img {
        //   background-color: turquoise;
        img {
          border-radius: 50%;
          height: 350px;
          max-width: 500px;
          width: 350px;
          max-height: 500px;
        }
      }
      .sm_icons {
        // background-color: orange;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.work_section {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.skills_section {
  background-color: green;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.contact_section {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.active_nav {
  font-weight: bold;
}
