body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.wrapper {
  max-width: 100vw;
}

header .navbar {
  z-index: 100;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .navbar .logo_container {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo_container svg {
  width: 64px;
  height: 64px;
}

header .navbar .nav_items_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav_items_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  list-style: none;
}

header .navbar .nav_items_menu ul li {
  margin-right: 100px;
}

header .navbar .nav_items_menu ul li a {
  text-decoration: none;
  color: black;
}

.about_section {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.about_section .about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.about_section .about_main .about_main_text {
  width: 60vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 500px;
}

.about_section .about_main .about_main_text p {
  margin-left: 50px;
  font-size: 50px;
}

.about_section .about_main .about_main_text p span {
  font-size: 85px;
}

.about_section .about_main .about_main_text p span span {
  font-weight: bold;
}

.about_section .about_main .about_main_text a button {
  width: 250px;
  height: 80px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.about_section .about_main .about_main_img {
  width: 40vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .about_main .about_main_img .main_img img {
  border-radius: 50%;
  height: 350px;
  max-width: 500px;
  width: 350px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

.about_section .about_main .about_main_img .sm_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .about_main .about_main_img .sm_icons img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.work_section {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work_section .prevBtn {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0;
  font-size: 40px;
}

.work_section .prevBtn:hover {
  cursor: pointer;
}

.work_section .nextBtn {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0;
  font-size: 40px;
}

.work_section .nextBtn:focus {
  border: none;
}

.work_section .nextBtn:hover {
  cursor: pointer;
}

.work_section .containers_container {
  position: relative;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100%;
  white-space: pre-line;
}

.work_section .containers_container .work_container {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 300px;
  height: 300px;
  margin: 40px;
}

.work_section .containers_container .work_container .tilted_container {
  -webkit-transition: transgorm 500ms;
  transition: transgorm 500ms;
  width: 110%;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.work_section .containers_container .work_container .tilted_container:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.work_section .containers_container .work_container .tilted_container:hover img {
  -webkit-transition: 250ms;
  transition: 250ms;
  height: 50%;
  position: absulute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: none;
          filter: none;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons .project_btn {
  border-radius: 50%;
}

.work_section .containers_container .work_container .tilted_container:hover .buttons .project_btn img {
  margin-top: -40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.work_section .containers_container .work_container .tilted_container:hover p {
  margin-top: -25px;
  padding: 5px;
  display: block;
  line-height: 1.5;
}

.work_section .containers_container .work_container .tilted_container p {
  display: none;
  text-align: center;
}

.work_section .containers_container .work_container .tilted_container .buttons {
  display: none;
}

.work_section .containers_container .work_container .tilted_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.skills_section {
  background-color: green;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 200vh;
}

.contact_section {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 300vh;
}

.active_nav {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */